lightning_logs/
wandb/
checkpoints/
__pycache__/
processed/
humanproteome/
draft/
backup/
comparison/*/*.csv
speed/*/*.csv
speed/samples/
predictions/
.history/

*.zip
*.pka
*.pdb
*.bak
*.npz

*.ipynb